.container {
  color: var(--black);
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--black);
  font-size: 7vh;
  font-weight: 600;
  letter-spacing: -2px;
}

.title span {
  color: var(--blueCard);
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 2%;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  /* background-color: aquamarine; */
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* background-color: brown; */
}

.skillImageContainer {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 120px;
  height: 120px; */

}



.skillIncon {
  height: 20vh;
  width: 20vh;
  border-radius: 4%;
}
